
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #ffe6f0, #ffffff);
}

.container {
  width: 500px;
  padding: 40px;
  border-radius: 18px;
  background: #ffffff;
  box-shadow: 0 10px 25px rgba(255, 105, 180, 0.2);
  text-align: center;
}

h2 {
  color: #ff4da6;
  margin-bottom: 15px;
}


input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #ffb6d9;
  outline: none;
  background: #fff5fa;
  box-sizing: border-box;
}


.row {
  display: flex;
  gap: 10px;
  width: 100%;
}


.row select {
  flex: 2;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ffb6d9;
  background: #fff5fa;
  outline: none;
}

.row button {
  flex: 1;
  border: none;
  border-radius: 10px;
  background: #ff4da6;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.row button:hover {
  background: #e60073;
  transform: scale(1.1);
}


#result {
  margin-top: 15px;
  font-weight: bold;
  color: #cc0066;
}